<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta th:name="_csrf" th:content="${_csrf.token}">
    <meta th:name="_csrf_header" th:content="${_csrf.headerName}">
    <title>Order Page</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="/output.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
</head>
<body class="bg-tokyo-night-bg text-white">

<div th:include="navbar::navbar" class="shadow-2xl"></div>

<div class="flex flex-col justify-between items-center container mx-auto my-8">
    <div class="mt-24 mb-8">
        <div class="relative overflow-x-auto shadow-md rounded-lg">
            <table class="w-full table-fixed text-sm text-left rtl:text-right text-gray-400">
                <thead class="text-xs uppercase bg-gray-700 text-gray-400">
                <tr>
                    <th scope="col" class="px-16 py-3 text-start">
                        <span class="sr-only">Image</span>
                    </th>
                    <th scope="col" class="px-6 py-3 text-start">
                        Game
                    </th>
                    <th scope="col" class="px-6 pl-3 py-3">
                        Qty
                    </th>
                    <th scope="col" class="px-6 py-3 ">
                        Price
                    </th>
                    <th scope="col" class="px-6 py-3 ">
                        Action
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="game : ${games}" class="bg-card-bg border-b border-gray-700 hover:bg-gray-600" th:id="'game-' + ${game.game.id}">
                    <td class="p-4">
                        <a th:href="@{/game/buyer/details/{id}(id=${game.game.id})}">
                            <img th:src="@{/image/{imageName}(imageName=${game.game.imageName})}" class="w-16 md:w-32 max-w-full max-h-full" alt="Game Image">
                        </a>
                    </td>
                    <td class="px-6 py-4 font-semibold text-white">
                        <span th:text="${game.game.title}"></span>
                    </td>
                    <td class="px-2 py-4">
                        <div class="flex flex-row w-full">
                            <button th:attr="onclick=|javascript:decreaseQuantity('${game.game.id}', event)|" class="font-medium hover:underline text-white">-</button>
                            <p class="px-2 text-white">
                                <span th:id="'quantity-' + ${game.game.id}" th:text="${game.quantity}"></span>
                            </p>
                            <button th:attr="onclick=|javascript:increaseQuantity('${game.game.id}', event)|" class="font-medium hover:underline text-white">+</button>
                        </div>
                    </td>
                    <td class="px-6 py-4 font-semibold text-white">
                        <span th:id="'price-per-game-' + ${game.game.id}" th:text="'Rp' + ${game.game.price * game.quantity}"></span>
                        <span class="hidden" th:id="'price-'+ ${game.game.id}" th:text="${game.game.price}"></span>
                    </td>
                    <td class="px-6 py-4">
                        <button th:attr="onclick=|javascript:removeFromCart('${game.game.id}', event)|" class=" font-medium text-red-500 hover:underline">Remove</button>
                    </td>
                </tr>
                </tbody>
                <tfoot class="text-xs uppercase bg-gray-700 text-gray-400">
                <tr>
                    <td colspan="1" class="px-16 py-3">
                        Total
                    </td>
                    <td class="px-6">
                        <button class="clearButtons font-medium text-red-600 hover:underline">Clear</button>
                    </td>
                    <td class="px-6 py-3 font-semibold text-white ">
                        <span id="total-quantity" th:text="${totalQuantity}"></span>
                    </td>
                    <td class="px-6 py-3 font-semibold text-white">
                        <span id="total-price" th:text="'Rp' + ${totalPrice}"></span>
                    </td>
                    <td class="px-6 py-3">
                        <form method="get" th:action="@{/order}">
                            <button type="submit" class="font-medium text-green-500 hover:underline">CHECKOUT</button>
                        </form>
                    </td>

                </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>

<div id="clearModal" class="fixed inset-0 z-50 hidden flex items-center justify-center bg-black bg-opacity-50">
    <div class="bg-gray-800 rounded-lg shadow-lg p-6 w-96">
        <h2 class="text-lg font-semibold mb-4">Are you sure you want to remove all games?</h2>
        <div class="flex justify-end space-x-4">
            <button id="cancelClearButton" class="px-4 py-2 text-sm font-medium text-gray-100 bg-gray-600 rounded-lg focus:outline-none hover:bg-gray-500">Cancel</button>
            <button id="confirmClearButton" onclick="clearCart(event)" class="px-4 py-2 text-sm font-medium text-white bg-green-500 rounded-lg focus:outline-none hover:bg-green-600">Confirm</button>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>

<script>
    function getCsrfToken() {
        return document.querySelector('meta[name="_csrf"]').getAttribute("content");
    }

    function getCsrfHeader() {
        return document.querySelector('meta[name="_csrf_header"]').getAttribute("content");
    }

    async function increaseQuantity(gameId, event) {
        event.preventDefault();
        try {
            const response = await axios.post(`/api/cart/increase/${gameId}`, {}, {
                headers: {
                    [getCsrfHeader()]: getCsrfToken()
                }
            });
            console.log(response.data);
            const newQuantity = await axios.get(`/api/cart/quantity/${gameId}`);
            const newTotalQuantity = await axios.get(`/api/cart/total-quantity`);
            const newTotalPrice = await axios.get(`/api/cart/total-price`);
            updateQuantity(gameId, newQuantity.data, newTotalQuantity.data, newTotalPrice.data);
        } catch (error) {
            console.error(error);
        }
    }


    async function decreaseQuantity(gameId, event) {
        event.preventDefault();
        try {
            const response = await axios.post(`/api/cart/decrease/${gameId}`, {}, {
                headers: {
                    [getCsrfHeader()]: getCsrfToken()
                }
            });
            console.log(response.data);
            const newQuantity = await axios.get(`/api/cart/quantity/${gameId}`);
            const newTotalQuantity = await axios.get(`/api/cart/total-quantity`);
            const newTotalPrice = await axios.get(`/api/cart/total-price`);

            // Update the UI to reflect the change
            if (newQuantity.data === 0) {
                const rowToRemove = document.getElementById(`game-${gameId}`);
                if (rowToRemove) {
                    rowToRemove.remove();
                    updateQuantity(gameId, newQuantity.data, newTotalQuantity.data, newTotalPrice.data);
                }
            } else {
                updateQuantity(gameId, newQuantity.data, newTotalQuantity.data, newTotalPrice.data);
            }

        } catch (error) {
            console.error(error);
        }
    }

    async function removeFromCart(gameId, event) {
        event.preventDefault();
        try {
            const response = await axios.post(`/api/cart/remove/${gameId}`, {}, {
                headers: {
                    [getCsrfHeader()]: getCsrfToken()
                }
            });
            console.log(response.data);
            // Optionally update the UI to reflect removal
            const rowToRemove = document.getElementById(`game-${gameId}`);
            if (rowToRemove) {
                rowToRemove.remove();
                const newQuantity = await axios.get(`/api/cart/quantity/${gameId}`);
                const newTotalQuantity = await axios.get(`/api/cart/total-quantity`);
                const newTotalPrice = await axios.get(`/api/cart/total-price`);
                updateQuantity(gameId, newQuantity.data, newTotalQuantity.data, newTotalPrice.data);
            }
        } catch (error) {
            console.error(error);
        }
    }
    function updateQuantity(gameId, newQuantity, newTotalQuantity, newTotalPrice) {
        const quantityElement = document.getElementById(`quantity-${gameId}`);
        const priceElement = document.getElementById(`price-${gameId}`);
        const priceTotalElement = document.getElementById(`price-per-game-${gameId}`);
        const totalQuantityElement = document.getElementById(`total-quantity`);
        const totalPriceElement = document.getElementById(`total-price`);

        if (quantityElement) {
            quantityElement.textContent = newQuantity.toString();
        }

        if (priceElement && priceTotalElement) {
            const price = parseInt(priceElement.textContent);
            const totalPrice = newQuantity * price;
            priceTotalElement.textContent = `Rp${totalPrice.toString()}`;
        }

        if (totalQuantityElement) {
            totalQuantityElement.textContent = newTotalQuantity.toString();
        }

        if (totalPriceElement) {
            totalPriceElement.textContent = `Rp${newTotalPrice.toString()}`;
        }
    }



    const clearButtons = document.querySelectorAll('.clearButtons');
    const clearModal = document.getElementById('clearModal');
    const cancelClearButton = document.getElementById('cancelClearButton');

    clearButtons.forEach(button => {
        button.addEventListener('click', () => {
            clearModal.classList.remove('hidden');
        });
    });

    cancelClearButton.addEventListener('click', () => {
        clearModal.classList.add('hidden');
    });


    async function clearCart(event) {
        event.preventDefault();
        try {
            const response = await axios.post('/api/cart/clear', {}, {
                headers: {
                    [getCsrfHeader()]: getCsrfToken()
                }
            });
            console.log(response.data);
            // Optionally update the UI to reflect cart clear
            location.reload(); // or update the cart summary if necessary
        } catch (error) {
            console.error(error);
        }
    }

</script>



</body>
</html>
