<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Game List</title>
    <link rel="stylesheet" href="/output.css">
</head>

<body class="bg-tokyo-night-bg text-white">

    <div th:include="navbar::navbar" class="shadow-2xl">
    </div>

    <div class="flex flex-col justify-between items-center container mx-auto my-8 mt-32 gap-8">
        <div class="flex items-center gap-8" th:if="${user != null}">
            <img class="rounded-full object-contain w-24"
                src="https://static.vecteezy.com/system/resources/thumbnails/009/292/244/small/default-avatar-icon-of-social-media-user-vector.jpg"
                id="profile-picture" alt="Profile Picture">
            <div class="flex flex-col gap-2">
                <div class="flex items-center gap-4">
                    <h1 th:text="${user?.getUsername()}" class="text-4xl font-bold"></h1>
                    <p th:if="${user?.isSeller() && !user?.isAdmin()}" class="bg-red-500 px-3 py-1 rounded-xl">
                        Seller
                    </p>
                    <p th:if="${user?.isAdmin()}" class="bg-blue-500 px-3 py-1 rounded-xl">Admin</p>
                    <a href="/profile/edit">
                        <img src="https://static-00.iconduck.com/assets.00/edit-icon-511x512-ir85i9io.png"
                            alt="Edit Profile" class="w-6 h-6">
                    </a>
                </div>
                <p th:text="${user?.getEmail()}"></p>
            </div>
        </div>
        <div class="flex flex-col gap-4">
            <div class="bg-red-500 px-4 py-2 rounded-xl text-white text-xl" th:if="${user == null}">
                <strong>User not found</strong>
            </div>
            <h1 class="text-xl" th:if="${user != null}">Bio</h1>
            <p th:text="${user?.getBio()}"></p>
        </div>
    </div>

    <script>
        const profilePicture = document.getElementById('profile-picture');
        const userName = document.querySelector('h1');

        fetch(`/api/profile/${userName.textContent}`)
            .then(response => response.json())
            .then(data => {
                if (data.profilePicture != "") {
                    fetch(`/image/${data.profilePicture}`)
                        .then(response => response.blob())
                        .then(blob => {
                            profilePicture.src = URL.createObjectURL(blob);
                        });
                }
            });
    </script>
</body>

</html>
