<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Game Time by Tester Collective</title>
    <link rel="stylesheet" href="/output.css">
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap" rel="stylesheet">
</head>
<body class="flex justify-center items-center min-h-screen bg-tokyo-night-bg text-tokyo-night-variable">
<div class="text-center">
    <h1 class="text-5xl md:text-6xl lg:text-7xl xl:text-8xl font-bold mb-4 text-tokyo-night-red">Coming soon</h1>
    <p class="text-sm md:text-base lg:text-lg xl:text-xl">Game Time by Tester Collective</p>
</div>
</body>
</html>
